

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../../../public/app/css/style1.css"/>
</head>

<body>
<!----- HEADER START--->
<header id="header">
    <div class="content">
        <div id="logo"><a href=""> Let's Go </a></div>

        <nav id="nav">
            <ul>
                <li><a href="#slide1" class="active" title="Next Section" >Home</a></li>
                <li><a href="#slide2" title="Next Section">Events</a></li>
                <li><a href="#slide3" title="Next Section">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
<!----- HEADER END--->
<div id="slide1">
    <div class="content">
        <div id="christmas_tree"> </div>
        <div id="snowflakes1"></div>
        <div id="snowflakes2"></div>
        <h2>Explore</h2>
        <h1>Events</h1>
        <div id="divider"> </div>
        <h3>let's go </h3>
        <div id="ribbon"></div>
        <div id="new_year"> </div>
    </div>
</div>

<div id="slide2">
    <div class="content" >
        <div class="quotes_container">
            <a href="/#/events" class="highlightit"><img src="../../../../public/app/images/c.jpg" width="471" id="id1">
                <a href="/#/events" class="highlightit"><img id="id3" src="../../../../public/app/images/e.jpg" >
                    <a href="/#/events" class="highlightit">
                        <img src="../../../../public/app/images/mi.jpg" width="369" height="2" id="id2">
        </div>
        <a href="/events" class="highlightit"><img src="../../../../public/app/images/m.jpg" id="id4"></a>
    </div>
</div>

</body>



