<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
            background-image:url(../../../../public/app/images/gh.jpg);

        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!--&lt;!&ndash; show any messages that come back with authentication &ndash;&gt;-->
        <!--<% if (message.length > 0) { %>-->
        <!--<div class="alert alert-danger"><%= message %></div>-->
        <!--<% } %>-->

        <!--&lt;!&ndash; LOGIN FORM &ndash;&gt;-->
        <form ng-submit="signin()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="user.username" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="user.password" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="#/signup">Signup</a></p>

        <p>Or go <a href="/#/">home</a>.</p>

    </div>

</div>
</body>
</html>




<!--&lt;!&ndash; views/login.ejs &ndash;&gt;-->
<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Node Authentication</title>-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <!--&lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <!--&lt;!&ndash; load fontawesome &ndash;&gt;-->
    <!--<style>-->
        <!--body {-->
            <!--padding-top: 80px;-->
            <!--background-image:url(../../../../public/app/images/gh.jpg);-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

    <!--<div class="col-sm-6 col-sm-offset-3">-->

        <!--<h1><span class="fa fa-sign-in"></span> Login</h1>-->

        <!--&lt;!&ndash;&lt;!&ndash; show any messages that come back with authentication &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<% if (message.length > 0) { %>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="alert alert-danger"><%= message %></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<% } %>&ndash;&gt;-->

        <!--&lt;!&ndash;&lt;!&ndash; LOGIN FORM &ndash;&gt;&ndash;&gt;-->
        <!--<form ng-submit="signin()">-->
            <!--<div class="form-group">-->
                <!--<label>Username</label>-->
                <!--<input type="text" class="form-control" ng-model="user.username" name="username">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>Password</label>-->
                <!--<input type="password" class="form-control" ng-model="user.password" name="password">-->
            <!--</div>-->

            <!--<button type="submit" class="btn btn-warning btn-lg">Login</button>-->
        <!--</form>-->

        <!--<hr>-->



    <!--</div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->
