body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image:url(../../public/app/images/et.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}
.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
h6{
	font-family: "MONOtype Corsiva";
	color:#CF0;
	position:absolute;
	font-size:36px;
	left: 584px;
	top: 162px;
	height: 42px;
	width: 188px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
a {
	color: #5b777f;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f1c40f;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #1c424d;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: 1c424d;
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #f3ca27;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #d9e0e2;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #f3ca27;
}
.on {
	background-color: #032731 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f3ca27 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #f3ca27;
	border-color: #f3ca27;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
header {
	background: url(../../public/app/img/header-bg.jpg) no-repeat bottom center;
	background-size: cover;
	color: #d9e0e2;
	position: relative;
	height: 100%;
}
header p {
	color: #d9e0e2;
	font-size: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.color {
	color: #f3ca27;
}
.login{
	position: absolute;
	top: 244px;
	left: 529px;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: #000;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
.login input[type="date"]{
	width: 250px;
	height: 30px;
	background: #000;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: #000;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #1c424d;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
